.auth-container {
    width: 100%;
    height: 100%;
}
.auth-container-group {
    width: 350px;
    height: 250px;
    margin: auto;
    margin-top: 150px;
}
.auth-container-group h3 {
    margin-bottom: 35px;
}
.auth-container-group div {
    margin-left: 37px;
}