/*
#nav-bar-menu {
  width: 250px;
}
*/
#nav-bar-menu ul li.nav-item {
  border: 1px solid #f00;
}
.nav-show ul li.nav-item {
  width: 250px;
}
.nav-hidden ul li.nav-item {
  width: 60px;
}
.nav-hidden ul li.nav-item .nav-link-text {
  display: none;
}
.sidenav-toggler {
  position: absolute;
  top: 0;
  left: 100;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: calc(100vh - 42px);
}
#nav-bar-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* @media (min-width: 992px) { */

/*} */