<div id="app-menu-container">
  <nav id="app-menu" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Vasco</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isAppMenuHorizontalCollapsed = !isAppMenuHorizontalCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="app-menu-h" [ngbCollapse]="isAppMenuHorizontalCollapsed">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="nav-link-text">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </div>

    <ul id="app-menu-v" [ngClass]="[hideText]" class="nav flex-column">
      <li class="nav-item" placement="right" ngbTooltip="Encuestas">
        <a class="nav-link" href="#">
          <i class="fa fa-fw fa-file"></i>
          <span class="nav-link-text">Encuestas</span>
        </a>
      </li>
      <li class="nav-item" placement="right" ngbTooltip="Personas">
        <a class="nav-link" href="#">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text">Personas</span>
        </a>
      </li>
      <li class="nav-item" placement="right" ngbTooltip="Resultados">
        <a class="nav-link" href="#">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Resultados</span>
        </a>
      </li>
    </ul>

    <ul [ngClass]="[hideText]" class="nav flex-column sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" (click)="clickToggleMenu()">
          <i [ngClass]="[classButtonToggle]"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div id="app-body-container" [ngClass]="[hideText]">
  <router-outlet></router-outlet>
</div>